.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    &.gray {
        background: $gray;
        color: $red;
    }

    &.white {
        background: $white;
    }

    &.red {
        background: $red;
        color: $black;
    }

    &.dark {
        background: $black;
        color: $red;
    }

    &.bg-lolology {
        background-size: 150px;
        background-origin: content-box, padding-box;
        color: $black;
        background-color: #6dffbe;

        &.bg-doge {
            background-image: url("../assets/images/lolology/lolology-doge.png");
        }

        &.bg-nico {
            background-image: url("../assets/images/lolology/lolology-nico.png");
        }

        &.bg-troll {
            background-image: url("../assets/images/lolology/lolology-troll.png");
        }

        &.bg-lol {
            background-image: url("../assets/images/lolology/lolology-lol.png");
        }

        &.bg-lol-yellow {
            background-image: url("../assets/images/lolology/lolology-lol-yellow.png");
        }
    }

    &.bg-borninantwerp {
        color: $black;
        background-color: #0087C4;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 51%;
    }
    100% {
        background-position: 0% 50%;
    }
}