.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    a {
        color: $black;
    }

    &.gray {
        background: $gray;
        color: $red;
    }

    &.white {
        background: $white;
    }

    &.red {
        background: $red;
        color: $black;

        a {
            color: $black;
        }
    }

    &.dark {
        background: $black;
        color: $red;

        a {
            color: $red;
        }
    }

    &.bg-kavka {
        background-color: #ffffff;
        color: #ffffff;

        &::before {
            content: "";
            position: absolute;
            background: #e9512a;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
        }
    }

    &.bg-mas {
        background-color: #39607a;
        color: #ffffff;
    }

    &.bg-goose {
        background-color: #0a0a0a;
        color: #ffffff;
    }

    &.bg-lifehaks {
        background-color: #ececec;
        color: #0b0c0a;
    }

    &.bg-kop {
        background-color: #2cff00;
        color: #2cff00;

        &::before {
            content: "";
            position: absolute;
            background: white;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
        }
    }


    &.windows-error {
        section {
            cursor: none;
        }
    }
}

@keyframes bgColor {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 50% 0;
    }
    50% {
        background-position: 90% 0;
    }
    60% {
        background-position: 60%;
    }
    75% {
        background-position: 40%;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 51%;
    }
    100% {
        background-position: 0% 50%;
    }
}