.reveal .slides > section.case {
    .title-case {
        width: 15em;
        margin: 0 auto 3em;

        @include media($intermedium-screen) {
            width: 25em;
        }

        @include media($large-screen) {
            width: 35em;
        }
    }

    .tags {
        margin: 0;
        text-shadow: none;

        li {
            font-size: 1.25em;
            text-decoration: underline;
            display: inline-block;
            list-style: none;
            margin-right: 1em;
            color: white;
        }
    }

    .client {
        color: $link-color;
        text-decoration: underline;
        font-family: 'Space Mono';
        text-shadow: none;
    }
}

.case-image {
    img {
        width: 100%;
        margin-bottom: 0;

        @include media($intermedium-screen) {
            width: 100%;
        }
    }
}

.youtube-video {
    pointer-events: none;
}

.reveal {
    .case-front {
        h1 {
            font-size: 2.5em;

            @include media($medium-screen) {
                font-size: 5em;
            }

            @include media($large-screen) {
                font-size: 6em;
            }
        }

        p {
            margin: 0;
        }

        img {
            width: 100%;
            margin-bottom: 0;

            @include media($intermedium-screen) {
                width: 100%;
                max-width: 500px;
                max-height: 250px;
            }
        }
    }
}