.reveal .slides > section.case {
    .title-case {
        width: 15em;
        margin: 0 auto 3em;

        @include media($intermedium-screen) {
            width: 25em;
        }

        @include media($large-screen) {
            width: 35em;
        }
    }

    .tags {
        margin: 0;
        text-shadow: none;

        li {
            font-size: 1.25em;
            text-decoration: underline;
            display: inline-block;
            list-style: none;
            margin-right: 1em;
            color: $link-color;
        }
    }

    .client {
        color: $link-color;
        text-decoration: underline;
        font-family: 'Space Mono';
        text-shadow: none;
    }
}

.case-image {
    img {
        width: 100%;
        margin-bottom: 0;

        @include media($intermedium-screen) {
            width: 100%;
        }

        @include media($large-screen) {
            max-width: 1000px;
            width: 95%;
        }
    }
}

.youtube-video {
    pointer-events: none;
}