$font-path: 'fonts/';

@font-face {
    font-family: "Gotham";
    src: url($font-path +"gotham-bold.eot");
    src: url($font-path +"gotham-bold.eot?#iefix") format("embedded-opentype"),
    url($font-path +"gotham-bold.woff2") format("woff2"),
    url($font-path +"gotham-bold.woff") format("woff"),
    url($font-path +"gotham-bold.ttf") format("ttf"),
    url($font-path +"gotham-bold.svg#GothamBold") format("svg");
    font-style: normal;
    font-weight: 700;
}