$font-path: 'fonts/';

@font-face {
    font-family: "Bagnard";
    src: url($font-path +"Bagnard.eot");
    src: url($font-path +"Bagnard.eot?#iefix") format("embedded-opentype"),
    url($font-path +"Bagnard.woff2") format("woff2"),
    url($font-path +"Bagnard.woff") format("woff"),
    url($font-path +"Bagnard.ttf") format("ttf"),
    url($font-path +"Bagnard.svg#Bagnard-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gotham Bold";
    src: url($font-path +"gotham-bold.eot");
    src: url($font-path +"gotham-bold.eot?#iefix") format("embedded-opentype"),
    url($font-path +"gotham-bold.woff2") format("woff2"),
    url($font-path +"gotham-bold.woff") format("woff"),
    url($font-path +"gotham-bold.ttf") format("ttf"),
    url($font-path +"gotham-bold.svg#gotham-bold") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Space Mono";
    src: url($font-path +"SpaceMono-Regular.eot");
    src: url($font-path +"SpaceMono-Regular.eot?#iefix") format("embedded-opentype"),
    url($font-path +"SpaceMono-Regular.woff2") format("woff2"),
    url($font-path +"SpaceMono-Regular.woff") format("woff"),
    url($font-path +"SpaceMono-Regular.ttf") format("ttf"),
    url($font-path +"SpaceMono-Regular.svg#SpaceMono-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Space Mono";
    src: url($font-path +"SpaceMono-Bold.eot");
    src: url($font-path +"SpaceMono-Bold.eot?#iefix") format("embedded-opentype"),
    url($font-path +"SpaceMono-Bold.woff2") format("woff2"),
    url($font-path +"SpaceMono-Bold.woff") format("woff"),
    url($font-path +"SpaceMono-Bold.ttf") format("ttf"),
    url($font-path +"SpaceMono-Bold.svg#SpaceMono-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Space Mono";
    src: url($font-path +"SpaceMono-Italic.eot");
    src: url($font-path +"SpaceMono-Italic.eot?#iefix") format("embedded-opentype"),
    url($font-path +"SpaceMono-Italic.woff2") format("woff2"),
    url($font-path +"SpaceMono-Italic.woff") format("woff"),
    url($font-path +"SpaceMono-Italic.ttf") format("ttf"),
    url($font-path +"SpaceMono-Italic.svg#SpaceMono-Italic") format("svg");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Space Mono";
    src: url($font-path +"SpaceMono-BoldItalic.eot");
    src: url($font-path +"SpaceMono-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url($font-path +"SpaceMono-BoldItalic.woff2") format("woff2"),
    url($font-path +"SpaceMono-BoldItalic.woff") format("woff"),
    url($font-path +"SpaceMono-BoldItalic.ttf") format("ttf"),
    url($font-path +"SpaceMono-BoldItalic.svg#SpaceMono-BoldItalic") format("svg");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Coupeur Crise";
    src: url($font-path +"CoupeurCrise-Medium.eot");
    src: url($font-path +"CoupeurCrise-Medium.eot?#iefix") format("embedded-opentype"),
    url($font-path +"CoupeurCrise-Medium.woff2") format("woff2"),
    url($font-path +"CoupeurCrise-Medium.woff") format("woff"),
    url($font-path +"CoupeurCrise-Medium.ttf") format("ttf"),
    url($font-path +"CoupeurCrise-Medium.svg#CoupeurCrise-Medium") format("svg");
    font-style: normal;
    font-weight: 400;
}