.reveal {
    .mockup {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;

        .screen {
            position: absolute;
            top: 6%;
            left: 12.5%;
            width: 74%;
            height: 82.1%;
            background-repeat: no-repeat;
            background-size: 95%;
            background-position: center center;
            max-width: none;
            z-index: 2;
            overflow: hidden;

            img,
            video {
                position: absolute;
                display: block;
                top: 50%;
                left: calc(50% + 6px);
                transform: translate(-50%, -50%);
                max-height: none;
                max-width: none;
                z-index: 1;
                width: 102%;
                height: 102%;
            }
        }
    }

    .mockup-image {
        position: relative;
        z-index: 3;
    }

    .mockup-iphone {
        position: relative;
        max-width: 230px;
        margin: 0 auto;
        z-index: 3;

        @include media($medium-screen) {
            max-width: 270px;
        }

        @include media($large-screen) {
            max-width: 320px;
        }

        .screen {
            position: absolute;
            top: 5.3%;
            left: 8%;
            width: 83.7%;
            height: 88.1%;
            max-width: none;
            z-index: 2;

            video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-height: none;
                max-width: none;
                z-index: 1;
                width: 101%;
                height: 100%;
            }
        }
    }
}