body {
    background-color: $body-background;
    font-size: 100%;
}

.reveal {
    .content-center {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
    }

    .content-frame {
        position: relative;
        margin: 0 auto;
        max-width: 500px;
        padding: 2em;
        background-color: $black;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        color: $white;
    }

    img {
        width: 6em;
        margin-bottom: 2em;
        max-width: 480px;
        max-height: 480px;

        @include media($intermedium-screen) {
            width: 8em;
        }

        @include media($large-screen) {
            width: 14em;
        }
    }
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}