$brown: #33312f;
$red: #ff0000;
$blue: #0000ff;
$smoke: #eaeaea;
$white: #ffffff;
$black: #000000;
$gray: #ececec;

$body-background: $red;
$text-color: $white;

$sans-serif: Colfax, Helvetica, sans-serif;
