$brown: #33312f;
$red: #fb3131;
$blue: #0000ff;
$smoke: #eaeaea;
$white: #ffffff;
$black: #000000;
$gray: #b7b7b7;
$window-gray: #c0c0c0;
$window-gray-dark: #808080;
$window-gray-light: #dfdfdf;
$blue: #000080;

$body-background: $red;
$text-color: $white;
$link-color: $blue;

$sans-serif: Colfax, Helvetica, sans-serif;