$brown: #33312f;
$red: #bf370a;
$blue: #0000ff;
$smoke: #eaeaea;
$white: #ffffff;
$black: #000000;
$gray: #ececec;

$body-background: $gray;
$text-color: $blue;

$sans-serif: Colfax, Helvetica, sans-serif;
