@import "./node_modules/reveal.js/css/reveal.scss";
@import "variables";
@import "fonts";
@import "mixins";
@import "breakpoints";
@import "reveal";
@import "typography";
@import "theme";
@import "backgrounds";
@import "canvas";
@import "mockup";
@import "carousel";
@import "video";
@import "favicons";
@import "case";
// Slides
@import "slides/intro";
@import "slides/borninantwerp";
@import "slides/explosion";
@import "slides/kop";
@import "slides/kavka";
@import "menu-panel";
