.intro {
    .logo-container {
        position: relative;
        perspective: 1000px;
        margin: 0 auto;
        width: 100%;
        height: 5em;
    }

    .logo-card {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 1.0s linear;
        animation: rotation 10s linear infinite;

        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
        }

        .front {
            line-height: 1.5em;
        }

        .back {
            display: block;
            transform: rotateY(180deg);
            box-sizing: border-box;
            text-align: center;
            background-image: url('../assets/images/trendwolves.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .logo-text {
        text-transform: uppercase;
        font-size: 2em;
        line-height: 1;
        color: $black;
        font-family: 'Gotham Bold', sans-serif;
        transition: all .5s ease-in-out;
        margin: 0;

        &::after {
            display: none;
        }

        @include media($medium-screen) {
            font-size: 2.5em;
        }

        @include media($intermedium-screen) {
            font-size: 3em;
        }

        @include media($large-screen) {
            font-size: 3.5em;
        }

        @include media($xlarge-screen) {
            font-size: 4em;
        }

        &.wingdings {
            font-family: "Wingdings", sans-serif;
            text-transform: lowercase;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}