</article>
</main>
<div style="position: absolute;z-index: -1;opacity: 0;">
    <div style="font-family: 'Wingdings';">&nbsp;</div>
</div>
<script type="application/ld+json">
{
  "@context": "http://www.schema.org",
  "@type": "ProfessionalService",
  "name": "Undefined",
  "url": "http://weareundefined.be",
  "logo": "http://weareundefined.be/assets/images/schema.org/logo.jpg",
  "image": "http://weareundefined.be/assets/images/schema.org/local-business.jpg",
  "description": "Let's say we are a creative agency with a focus on digital. Undefined creates websites, campaigns, apps and digital experiences.",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Bouwmeestersstraat 3",
    "addressLocality": "Antwerp",
    "addressRegion": "Antwerp",
    "postalCode": "2000",
    "addressCountry": "Belgium"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "51.207803",
    "longitude": "4.396202"
  },
  "openingHours": "Mo, Tu, We, Th, Fr -",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+32484147470"
  }
}
</script>
</body>
</html>
