<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undefined | Creative Agency</title>
    <meta name="description"
          content="Let's say we are a creative agency with a focus on digital. Undefined creates websites, campaigns, apps and digital experiences."/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>

    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <![endif]-->

    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="pinterest" content="nopin"/>

    <meta property="og:title" content="Undefined | Creative Agency"/>
    <meta property="og:image" content="http://weareundefined.be//assets/images/facebook/share.jpg"/>
    <meta property="og:site_name" content="Undefined"/>
    <meta property="og:description" content="Let's say we are a creative agency with a focus on digital"/>
    <meta property="og:url" content="http://weareundefined.be/"/>
    <meta name="theme-color" content="#FB3031">

    <link rel="stylesheet" type="text/css" href="assets/main.css?v=2">

    <link href="favicon.png" rel="icon" type="image/x-icon"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
    <script type="text/javascript" src="assets/main.js?v=2"></script>
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-66457556-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
<body class="bg js-bg">
<div id="canvasWrapper">
    <div id="game"></div>
</div>

<canvas id="drawing-canvas"></canvas>

<div class="favicons">
    <img src="assets/images/favicon/u.png" alt="">
    <img src="assets/images/favicon/n.png" alt="">
    <img src="assets/images/favicon/d.png" alt="">
    <img src="assets/images/favicon/e.png" alt="">
    <img src="assets/images/favicon/f.png" alt="">
    <img src="assets/images/favicon/i.png" alt="">
    <img src="assets/images/favicon/n.png" alt="">
    <img src="assets/images/favicon/e.png" alt="">
    <img src="assets/images/favicon/d.png" alt="">
</div>

<div class="breakpoints"></div>
<main class="reveal js-slides">
    <article class="slides">
