<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undefined</title>
    <meta content="yes" name="apple-mobile-web-app-capable"/>

    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <![endif]-->

    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="pinterest" content="nopin"/>
    <link rel="stylesheet" type="text/css" href="assets/main.css">

    <link href="favicon.png" rel="icon" type="image/x-icon"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
    <script type="text/javascript" src="assets/main.js"></script>
</head>
<body class="bg js-bg">
<div id="canvasWrapper">
    <div id="game"></div>
</div>
<div class="favicons">
    <img src="assets/images/favicon/u.png" alt="">
    <img src="assets/images/favicon/n.png" alt="">
    <img src="assets/images/favicon/d.png" alt="">
    <img src="assets/images/favicon/e.png" alt="">
    <img src="assets/images/favicon/f.png" alt="">
    <img src="assets/images/favicon/i.png" alt="">
    <img src="assets/images/favicon/n.png" alt="">
    <img src="assets/images/favicon/e.png" alt="">
    <img src="assets/images/favicon/d.png" alt="">
</div>

<div class="breakpoints"></div>
<main class="reveal js-slides">
    <article class="slides">