<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undefined</title>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="pinterest" content="nopin"/>
    <link rel="stylesheet" type="text/css" href="assets/main.css">

    <script src="assets/three/Three.js"></script>
    <script src="assets/three/Detector.js"></script>

    <script src="assets/three/THREEx.WindowResize.js"></script>
    <script src="assets/three/SimplexNoise.js"></script>
    <script src="assets/three/GPUComputationRenderer.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
    <script type="text/javascript" src="assets/main.js"></script>
</head>
<body class="bg js-bg">
<div class="breakpoints"></div>
<main class="reveal js-slides">
    <article class="slides">