<section class="intro" data-class="none">
    <div class="content-center">
        <div class="logo-container">
            <div class="logo-card">
                <div class="logo-text front">UNDEFINED</div>
                <div class="logo-text back wingdings">undefined</div>
            </div>
        </div>
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        <video width="300" height="300" data-autoplay playsinline loop>
            <source data-src="assets/images/team/undefined-objects.mp4" type="video/mp4">
            <source data-src="assets/images/team/undefined-objects.webm" type="video/webm">
            <source data-src="assets/images/team/undefined-objects.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <h2>We are Undefined<br>but let's say we're a creative agency.</h2>
    </div>
</section>
<section data-class="bg red" class="online-offline slide-center"
         data-canvas='{
            "startStage" : {
            "name": "MouseTrail2",
            "text": "We bring mad ideas to life and use the web as our kung fu dojo"}
        }'>
    <div class="content-center">
        <h2>We craft quirky interactive experiences</h2>
    </div>
</section>
<section class="slide-center" data-class="bg dark">
    <div class="content-center">
        <h2 class="line">Oh wait? You're just here to get in touch? </h2>
        <p><a class="js-link" href="tel:+32484147470">+32 484 147 470</a> <br><a
            href="mailto:hellothere@weareundefined.be" class="js-link">hellothere@weareundefined.be</a>
            <br> <br>
            <a class="js-link" target="_blank"
               href="https://www.google.be/maps/dir/51.0960726,4.5025911/Tavernierkaai+11,+2000+Antwerpen/@51.1654455,4.3757882,12z/data=!3m1!4b1!4m18!1m7!3m6!1s0x47c3f6596507babb:0x921448cc9c6ca40f!2sTavernierkaai+11,+2000+Antwerpen!3b1!8m2!3d51.227638!4d4.401255!4m9!1m1!4e1!1m5!1m1!1s0x47c3f6596507babb:0x921448cc9c6ca40f!2m2!1d4.4012553!2d51.2276382!3e0">
                Tavernierkaai 11<br>2000 Antwerp<br>Belgium<br><br>
            </a>
        </p>
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        <div class="carousel carousel-client">
            <div class="carousel-element first">
                <img data-src="assets/images/clients/lenovo-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/trendwolves-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/bluebees-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/stad-antwerpen-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/broederlijk-delen-red.png" alt="">
            </div>
        </div>
        <h2 class="line">We work with clients from all over the place</h2>
        <p> We've done work for brands, advertising agencies, cultural institutions and artists.</p>
    </div>
</section>
<section data-class="bg red" class="online-offline slide-center">
    <div class="content-center">
        <img data-src="assets/images/work.gif" alt="">

        <h2 class="line">Our work is what it's all about right?</h2>

        <p>Concepts, websites, design,... We do it all. Let's have a look at some of our favorite cases.</p>
    </div>
</section>