<section class="intro" data-class="bg dark"
         data-event="Home"
         data-images='{"images" : [
        "assets/images/kop/fb/fb-kop.jpg",
        "assets/images/kop/fb/fb-speeltijd.jpg",
        "assets/images/kop/fb/fb-speeltijd.jpg",
        "assets/images/kop/fb/fb-speeltijd.jpg",
        "assets/images/kop/fb/fb-speeltijd.jpg",
        "assets/images/kop/fb/fb-speeltijd.jpg",
        "assets/images/kop/fb/fb-world-record.jpg"
        ]}'>
    <div class="content-center">
        <div class="logo-container">
            <div class="logo-card">
                <!--<div class="logo-text front">UNDEFINED</div>-->
                <div class="logo-text front wingdings">undefined</div>
                <div class="logo-text back wingdings">undefined</div>
            </div>
        </div>
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        <video width="300" height="300" data-autoplay playsinline loop>
            <source data-src="assets/images/team/undefined-objects.mp4" type="video/mp4">
            <source data-src="assets/images/team/undefined-objects.webm" type="video/webm">
            <source data-src="assets/images/team/undefined-objects.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <h2>We are Undefined<br>but let's say we're a creative agency.</h2>
        <p>
            <!--A multi-disciplanary team of unconvetional minds-->
        </p>
    </div>
</section>
<section data-class="bg red" class="online-offline slide-center"
         data-canvas='{
            "startStage" : {
            "name": "MouseTrail2",
            "text": "We love to experiment with code, design, concepts and create out of the ordinary experiencess for diverse media and platforms"}
        }'>
    <div class="content-center">
        <h2>We craft quirky experiences</h2>
    </div>
</section>
<section class="slide-center contact" data-class="bg contact" data-event="Contact">
    <div class="content-center">
        <h2>Oh you just want to get in touch?</h2>
        <p>
            <a href="//www.google.be/maps/dir//Samberstraat+40,+Antwerp/@51.2334903,4.4238516,16z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47c3f7b1b69c61d3:0xa6ce13dcd40111e6!2m2!1d4.428229!2d51.2334904!3e1">Find
                us here</a>
            <br>
            <a class="js-link" href="tel:+32484147470">+32 484 147 470</a> <br><a
            href="mailto:hellothere@weareundefined.be" class="js-link">hellothere@weareundefined.be</a></p>
    </div>
    <div class="overkill-popup">
        <div class="windows original">
            <header>YOU NEED A WEBSITE?
                <button class="button-close js-close"></button>
            </header>
            <div class="windows-content">
                <div class="img-container">
                    <video data-autoplay playsinline muted loop>
                        <source data-src="assets/images/contact/hypno.mp4" type="video/mp4">
                        <source data-src="assets/images/contact/hypno.ogv" type="video/mp4">
                        <source data-src="assets/images/contact/hypno.webm" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
        <div class="clones">

        </div>
    </div>
</section>
<section data-class="bg" class="online-offline slide-center" data-event="Marquee">
    <div class="content-center">
        (logos vallen zoals trendwolves website)
        <h2> We work for brands, communication agencies and cultural institutions.</h2>
    </div>
    <div class="marquee-container left">
        <div class="marquee">
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="marquee-container right">
        <div class="marquee">
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="marquee-container top">
        <div class="marquee">
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="marquee-container bottom">
        <div class="marquee">
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
            <div class="marquee-double">
                <ul>
                    <li>Goose</li>
                    <li>Jameson</li>
                    <li>Lenovo</li>
                    <li>Stad Antwerpen</li>
                    <li>Gate15</li>
                    <li>MAS Antwerpen</li>
                    <li>Kavka</li>
                    <li>BAAS BAAS</li>
                    <li>AZG</li>
                    <li>Bubka</li>
                    <li>LDV</li>
                    <li>Dallas</li>
                    <li>Brassery</li>
                    <li>Deriemaeker</li>
                    <li>Frederik Beyens</li>
                    <li>Humo's Rock Rally</li>
                    <li>Cameltown</li>
                    <li>Noortje Palmers</li>
                    <li>Trendwolves</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        (NOG EEN IDEE VOOR BEDENKEN)
        <h2>But the work is what it's all about</h2>
    </div>
</section>