<section class="intro" data-class="none">
    <div class="content-center">
        <div class="logo-container">
            <div class="logo-card">
                <div class="logo-text front">UNDEFINED</div>
                <div class="logo-text back wingdings">undefined</div>
            </div>
        </div>
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        <video width="300" height="300" data-autoplay playsinline loop>
            <source data-src="assets/images/team/undefined-objects.mp4" type="video/mp4">
            <source data-src="assets/images/team/undefined-objects.webm" type="video/webm">
            <source data-src="assets/images/team/undefined-objects.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <h1>We are Undefined<br>but let's say we're a creative agency.</h1>
        <span class="menu-title" style="display: none">Home</span>

    </div>
</section>
<section data-class="bg red" class="online-offline slide-center"
         data-canvas='{
            "startStage" : {
            "name": "MouseTrail2",
            "text": "We bring mad ideas to life and use the web as our kung fu dojo"}
        }'>
    <div class="content-center">
        <h2>We craft quirky interactive experiences</h2>
    </div>
</section>
<section class="slide-center" data-class="bg dark">
    <div class="content-center">
        <img data-src="assets/images/mail.gif" alt="">

        <h2 class="line">Oh wait?</h2>
        <span class="menu-title" style="display: none">Get In touch</span>

        <p>You're just here to get in touch? <br><br>
            <a class="js-link" href="tel:+32484147470">+32 484 147 470</a>
            <br>
            <a c8href="mailto:hellothere@weareundefined.be" class="js-link">hellothere@weareundefined.be</a>
            <br> <br>
            <span class="get-directions">
                <a class="js-link" target="_blank"
                   href="https://www.google.com/maps/place/Tavernierkaai+11,+2000+Antwerpen/@51.2274744,4.3993256,17z/data=!3m1!4b1!4m5!3m4!1s0x47c3f659623edafb:0xe6d4870ef0481fd7!8m2!3d51.2274744!4d4.4015143">
                    Get directions
                </a>
           </span>
        </p>
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        <div class="carousel carousel-client">
            <div class="carousel-element first">
                <img data-src="assets/images/clients/lenovo-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/trendwolves-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/stad-antwerpen-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/broederlijk-delen-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/logo_mas.png" alt="">
            </div>
        </div>
        <h2 class="line">We work with clients from all over the place</h2>
        <p> We've done work for brands, advertising agencies, cultural institutions and artists.</p>
    </div>
</section>
<section data-class="bg red" class="online-offline slide-center">
    <div class="content-center">
        <img data-src="assets/images/work.gif" alt="">

        <h2>But the work is what it's all about right?</h2>
    </div>
</section>
