<section data-class="bg bg-kavka3" class="slide-center case case-front">
    <div class="content-center">
        <h1>Kavka.be</h1>

        <p>WEBSITE / DEVELOPMENT</p>
    </div>
</section>
<section data-class="bg bg-kavka3" class="slide-center case kavka">
    <div class="case-title">WEBSITE / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Kavka center</div>
    <div class="content-center">
        <img data-src="assets/images/kavka/kavka-logo.gif" alt="">
        <h2>Youth center in Antwerp</h2>
        <p>
            <span class="underline">Kafka</span>, a project by De Stad Antwerpen, wants to support creativity
            in the city of Antwerp. <span class="underline">The Shtick</span>, an Antwerp design studio, asked us to join forces and develop the app.
        </p>
    </div>
</section>
<section data-class="bg bg-kavka3" class="slide-center case-image " >
   <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
       <div class="client-title"> <a href="https://kavka.be/" target="_blank">Kavka</a> </div>
       <div class="mockup">
            <img data-src="assets/images/safari-mockup2.png" alt="" class="mockup-safari">
    <div class="screen">
       <video width="902" height="564" data-autoplay playsinline muted loop>
        <source data-src="assets/images/kavka/screen-save.mp4" type="video/mp4">
        Your browser does not support the video tag.
       </video>
</div>
</section>
<section data-class="bg bg-kavka3" class="slide-center case case-front">
    <div class="content-center">
        <h3>Draw a 3-headed dragon here to pass</h3>
        <h4>(don't worries, we are not very demanding on the quality)</h4>
    </div>
</section>