<section data-class="bg" class="designer slide-center case">
    <div class="content-center">
        <div class="case-image">
            <img data-src="assets/images/design.gif">
        </div>
        <h1>
           Branding & Design
        </h1>

        <p>For the branding, businesscards, general look 'n feel,... we prefer to work with your designer preference.
            Here are a few graphic designers we like
            <br><br><a href="http://victorrobyn.com/" target="_blank" class="js-link">Victor Robyn</a>
            <br><a href="http://richardturley.tumblr.com/" target="_blank" class="js-link">Richard Turley</a>
            <br><a href="http://vrints-kolsteren.com/" target="_blank" class="js-link">Vrints-Kolsteren</a>
            <br><a href="http://www.janenrandoald.be/" target="_blank" class="js-link">Jan en Randoald</a>
        </p>
    </div>
</section>