<section data-class="bg bg-mas" class="slide-center case case-front">
    <div class="content-center">
        <h2>Mas</h2>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>
<section data-class="bg bg-mas" class="slide-center case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Shtick</div>
    <div class="content-center">
        <img data-src="assets/images/mas/logo.svg" alt="">
        <h2 class="line white">Mas</h2>
        <p>
            <span class="underline">Born in Antwerp</span>, a project by De Stad Antwerpen, wants to support creativity
            in the city of Antwerp. <span class="underline">The Shtick</span>, an Antwerp design studio, asked us to join forces and develop the app.
        </p>
    </div>
</section>
<section data-class="bg bg-mas" class="slide-center case case-front">
    <div class="content-center">
        <h2>Mas</h2>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>