<section data-class="bg bg-mas" class="slide-center case case-front">
    <div class="content-center">
        <h2>Mas</h2>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>
<section data-class="bg bg-mas" class="slide-center case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Shtick</div>
    <div class="content-center">
        <img data-src="assets/images/mas/logo.svg" alt="">
        <h2 class="line white">Mas</h2>
        <p>
            For the expo <span class="underline">Feest</span> and <span class="underline">Instinct</span> in MAS Antwerpen we created all multimedia content. From video content to video installations.
        </p>
    </div>
</section>
