<section data-class="bg" class="designer slide-center case">
    <div class="content-center">
        <div class="case-image">
            <img data-src="assets/images/lichtfeld-2.jpg">
        </div>
        <h1>
           Branding & Design
        </h1>

        <p>For the branding, businesscards, general look 'n feel,... <br>
            We would work with Jonathan Lichtfeld, a graphic & digital designer from Brussels.
            <br><br><a href="http://www.jonathanlichtfeld.com/" target="_blank">jonathanlichtfeld.com</a>
        </p>
        <ul class="tags">
            <li>#design</li>
            <li>#brandbook</li>
            <li>#design</li>
            <li>#development</li>
        </ul>
    </div>
</section>