<section data-class="bg" class="designer slide-center case">
    <div class="content-center">
        <div class="case-image">
            <img data-src="assets/images/undefined.gif">
        </div>
        <h1>
           Webdesign & Development
        </h1>

        <p>
            We will take the concept of the website, wireframes, webdesign and development for our part.
        </p>
        <ul class="tags">
            <li>#concept</li>
            <li>#wireframes</li>
            <li>#webdesign</li>
            <li>#development</li>
        </ul>
    </div>
</section>