<section data-class="bg bg-goose" class="slide-center case case-front">
    <div class="content-center">
        <h2>Goose music</h2>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>
<section data-class="bg bg-goose" class="slide-center case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Goose music</div>
    <div class="content-center">
        <img data-src="assets/images/goose/goose-icons.png" alt="">
        <h2 class="line white">Goose Music</h2>
        <p>
            <span class="underline">Goose music</span>, a project for goose
            in the city of Antwerp. n Antwerp design studio, asked us to join forces and develop the app.
        </p>
    </div>
</section>
<section data-class="bg bg-goose class="slide-center case-image" >
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Goose music</div>
        <div class="content-center content-large">
            <video width="1400" height="1064" data-autoplay playsinline loop>
                <source data-src="assets/images/goose/video-reel-new.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
 </div>
</section>
<section data-class="bg bg-goose" class="slide-center case-image" >
        <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
        <div class="client-title">Goose music</div>
        <div class="content-center content-large">
                <video width="1400" height="1064" data-autoplay playsinline loop>
                    <source data-src="assets/images/goose/aftermovie-with-logos+john.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
        </div>
     </div>
</section>