<section data-class="bg bg-karaoke" class="slide-center case case-front">
    <div class="content-center">
        <h1>Great Karaoke Reef</h1>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>
<section data-class="bg bg-karaoke" class="slide-center case borninantwerp">
        <div class="case-title">Social media campaign</div>
        <div class="client-title"> Internal Project</div>
        <div class="project-title">Great Karaoke Reef</div>
    <div class="content-center">
        <img data-src="assets/images/karaoke/GKR-logo.gif" alt="">
        <h2 class="line white">The Marvel of Oceans</h2>
        <p>
            <span class="underline">The great karaoke reef</span>, a project by De Stad Antwerpen, wants to support creativity
            in the city of Antwerp. <span class="underline">The Shtick</span>, an Antwerp design studio, asked us to join forces and develop the app.
        </p>
    </div>
</section>
<section data-class="bg bg-karaoke" class="slide-center case-image" >
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Internal</div>
    <div class="content-center content-large">
            <video width="1400" height="1064" data-autoplay playsinline loop>
                <source data-src="assets/images/karaoke/teaser-final-02.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
    </div>
 </div>
</section>
<section data-class="bg bg-karaoke" class="slide-center case case-front">
    <div class="content-center">
        <h2>The Great Karaoke Reef</h2>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>