<section data-class="bg bg-lifehaks" class="slide-center case case-front">
    <div class="content-center">
        <h1>Glensters Lifehaks</h1>
        <p>Social media campaign</p>
    </div>
</section>
<section data-class="bg bg-lifehaks" class="slide-center case borninantwerp">

    <div class="content-center">
        <img data-src="assets/images/lifehaks/glenster.png" alt="">
        <h2 class="line black">Listen Glensters wisdom</h2>
        <p> 
            <span class="underline">Glensters Lifehaks</span>, a project by De Stad Antwerpen, wants to support creativity
            in the city of Antwerp.
        </p>

    </div>
</section>
<section data-class="bg bg-lifehaks" class="slide-center case-image" >
        <div class="case-title">Social media campaign</div>
        <div class="client-title"> Clients: City of Antwerp / Gate15</div>
        <div class="project-title">Glensters Lifehaks</div>
            <div class="content-center content-large">
                <video width="1400" height="1060" data-autoplay playsinline loop>
                    <source data-src="assets/images/lifehaks/IKEA-instagram.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
     </div>
</section>
<section data-class="bg bg-lifehaks" class="slide-center case-image" >
    <div class="case-title">Social media campaign</div>
    <div class="client-title"> Clients: City of Antwerp / Gate15</div>
    <div class="project-title">Glensters Lifehaks</div>
        <div class="content-center content-large">
            <video width="902" height="564" data-autoplay playsinline loop id="mavideo">
                <source data-src="assets/images/lifehaks/Space SEquence de letste versie jantje! .mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
 </div>
</section>
<section data-class="bg bg-lifehaks" class="slide-center case case-front">
    <div class="case-title">Social media campaign</div>
    <div class="client-title"> Clients: City of Antwerp / Gate15</div>
    <div class="project-title">Glensters Lifehaks</div>
    <div class="content-center">
        <h2>Lifehaks</h2>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>