<section data-class="bg bg-mooimakers" class="slide-center case case-front">
    <div class="content-center">
        <h1>MOOIMAKERS</h1>

        <p>Social media campaign / Videos Making</p>
    </div>
</section>
<section data-class="bg bg-mooimakers" class="slide-center case borninantwerp">
    <div class="case-title">Online campaign / Videos Making </div>
    <div class="client-title">Mooimakers Gifs</div>
    <div class="content-center">
        <img data-src="assets/images/mooimakers/bettywhite-dab.gif" alt="">
        <h2 class="line white">Educate youth to cleanliness</h2>
        <p>
            <span class="underline">Mooimakers</span>, a project by De Stad Antwerpen, wants to support creativity
            in the city of Antwerp. an Antwerp design studio, asked us to join forces and develop the app.
        </p>
    </div>
</section>
<section data-class="bg bg-mooimakers" class="slide-center case-image" >
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Internal</div>
        <div class="content-center content-large">
            <video width="902" height="564" data-autoplay playsinline loop>
                <source data-src="assets/images/mooimakers/finaal-optimized/Gangnam compleet 16-9_1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content-center content-large">
            <video width="902" height="564" data-autoplay playsinline loop>
                <source data-src="assets/images/mooimakers/finaal-optimized/harlem-shake-accent-169-nosound.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="content-center content-large">
            <video width="902" height="564" data-autoplay playsinline loop>
                <source data-src="assets/images/mooimakers/finaal-optimized/hoverboard main 16-9_7.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
 </div>
</section>
<section data-class="bg bg-mooimakers" class="slide-center case-image" >
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Internal</div>
        <div class="content-center content-large">
            <video width="902" height="564" data-autoplay playsinline loop>
                <source data-src="assets/images/mooimakers/finaal-optimized/harlem-shake-accent-169-nosound.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
 </div>
</section>
<section data-class="bg bg-mooimakers" class="slide-center case-image" >
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Internal</div>
        <div class="content-center content-large">
            <video width="902" height="564" data-autoplay playsinline loop>
                <source data-src="assets/images/mooimakers/finaal-optimized/hoverboard main 16-9_7.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
 </div>
</section>
<section data-class="bg bg-mooimakers" class="slide-center case case-front">
    <div class="content-center">
        <h2>Mooimakers</h2>
        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>