<section data-class="bg dark" class="online-offline slide-center">
    <div class="content-center">
        <div class="carousel">
            <div class="carousel-element first">
                <img data-src="assets/images/clients/lenovo-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/trendwolves-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/bluebees-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/stad-antwerpen-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/hello-bank-red.png" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/clients/broederlijk-delen-red.png" alt="">
            </div>
        </div>
        <h1 class="line">We're all over the place</h1>
        <p>We work with a wide variety of clients. We've done work for brands, advertising agencies, cultural institutions and artists.</p>
    </div>
</section>