<section data-class="bg" class="case wenneker">
    <div class="content-center">

        <div class="case-image">
            <img class="wenneker" data-src="assets/images/wenneker-cover.jpg">
        </div>
        <h1>Explained by Wenneker</h1>

        <p>A website for Wenneker's new brand: Explained.
            <br><br><a href="http://explained.wenneker.be/" target="_blank" class="js-link">explained.wenneker.be</a>
        </p>
        <ul class="tags">
            <li>#design</li>
            <li>#development</li>
        </ul>
    </div>
</section>