<section data-class="bg bg-lolology" class="lolology case slide-center" data-event="startLolology">
    <div class="content-center box">
        <div class="js-random-gifs">
            <div class="js-random-gif first"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
        </div>
        <h1 class="line">Let's go loco</h1>
        <p>
            Trendwolves asked us to digitalise their trendreport.
            We went all out on this one and made a website loaded with weird dancing gifs and cheesy gradients.
        </p>
    </div>
</section>