<section data-class="bg" class="case wenneker">
    <div class="content-center">
        <h1>Oh yeah</h1>

        <p>We also make 'normal' websites from time to time...
            <br><br><a target="_blank" href="http://vanheurck.com" class="js-link">Van Heurck</a>
            <br><a target="_blank" class="js-link" href="http://wenneker.be/">Wenneker.be</a>
            <br><a target="_blank" class="js-link" href="http://bluebees.be/dialog/">Bluebees.be</a>
            <br><a target="_blank" class="js-link" href="http://noortjepalmers.be/">Noortje Palmers</a>
            <br><a target="_blank" class="js-link" href="http://dimsinterieur.be/">Dims Interieur</a>
        </p>
    </div>
</section>