<section data-class="bg bg-lolology" class="slide-center case-image" data-canvas='{
            "startStage" : {
            "forceStart" : true,
            "name" : "PatternBackground",
            "image" : "lolology-lol",
            "scale" : 1
            }
        }'>
    <div class="mockup">
        <img data-src="assets/images/macbook-mockup.png" alt="" class="mockup-image">

        <div class="screen">
            <video width="1400" height="800" data-autoplay playsinline muted>
                <source data-src="assets/images/lolology/lolology-video-handbrake.mp4" type="video/mp4">
                <source data-src="assets/images/lolology/lolology-video.webm" type="video/webm">
                <source data-src="assets/images/lolology/lolology-video.ogv" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>
