<section data-class="bg bg-lolology" class="slide-center case-image"  data-canvas='{
            "startStage" : {
            "forceStart" : true,
            "name" : "PatternBackground",
            "image" : "assets/images/lolology/lolology-troll.png",
            "scale" : 1
            }
        }'>
    <div class="mockup">
        <img data-src="assets/images/macbook-mockup.png" alt="" class="mockup-image">

        <div class="screen">
            <img class="title-case" src="assets/images/lolology/lolology-trendreport-1.jpg" alt="">
        </div>
    </div>
</section>