<section data-class="bg bg-lolology" class="slide-center case case-front lolology" data-canvas='{
            "startStage" : {
            "name" : "PatternBackground",
            "image" : "lolology-doge",
            "scale" : 1
            }
        }'>
    <div class="content-center">
        <h2>Lolology</h2>
        <p>Trendwolves</p>
    </div>
</section>
<section data-class="bg bg-lolology" class="slide-center case lolology" data-canvas='{
            "startStage" : {
            "forceStart" : true,
            "name" : "PatternBackground",
            "image" : "lolology-pepe",
            "scale" : 1
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">TRENDWOLVES</div>
    <div class="content-center">
        <img data-src="assets/images/lolology/lolology-trendwolves.gif" alt="">

        <h2 class="line white">Lololowut?</h2>

        <p><span class="underline">Trendwolves</span> asked us to digitalise their annual trendreport. We went all out on this one and made a website
            loaded with weird dancing gifs and cheesy backgrounds.</p>
    </div>
</section>
<section data-class="bg bg-lolology" class="slide-center case-image" data-canvas='{
            "startStage" : {
            "forceStart" : true,
            "name" : "PatternBackground",
            "image" : "lolology-lol-yellow",
            "scale" : 1
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">TRENDWOLVES</div>
    <div class="mockup">
        <img data-src="assets/images/macbook-mockup.png" alt="" class="mockup-image">

        <div class="screen">
            <img class="title-case" data-src="assets/images/lolology/lolology-cover.png" alt="">
        </div>
    </div>
</section>
<section data-class="bg bg-lolology" class="slide-center case-image" data-canvas='{
            "startStage" : {
            "forceStart" : true,
            "name" : "PatternBackground",
            "image" : "lolology-lol",
            "scale" : 1
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">TRENDWOLVES</div>
    <div class="mockup">
        <img data-src="assets/images/macbook-mockup.png" alt="" class="mockup-image">

        <div class="screen">
            <video width="902" height="564" data-autoplay playsinline muted loop>
                <source data-src="assets/images/lolology/lolology-video-handbrake.mp4" type="video/mp4">
                <source data-src="assets/images/lolology/lolology-video.webm" type="video/webm">
                <source data-src="assets/images/lolology/lolology-video.ogv" type="video/ogg">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>
