<section data-class="bg bg-kavka3" class="slide-center case case-front" data-canvas='{
            "startStage" : {
            "name" : "Drawing"
            }
        }'>
    <div class="content-center">
        <h1>Kavka.be</h1>
        <p>WEBSITE / DEVELOPMENT</p>
    </div>
</section>
<section data-class="bg bg-kavka3" class="slide-center case kavka" data-canvas='{
            "startStage" : {
            "name" : "Drawing"
            }
        }'>
    <div class="case-title">WEBSITE / DEVELOPMENT</div>
    <div class="client-title link"><a href="http://kavka.be" class="js-link" target="_blank">Kavka.be</a></div>
    <div class="content-center content-large">
        <img class="kavka-favicon" data-src="assets/images/kavka/kavka-logo.gif" alt="">
        <h2 class="line orange">Youth organisation in Antwerp</h2>
        <p>
            <span class="underline">Kavka</span> works with volunteers, hosts a co-working space and organises events for young people in Antwerp.
            This huge organisation wanted to have a website which would guide the visitor through all their activities and side-activities. Together with Spaced, they took care of the workshops, we conceptualized and developed a website which gave an overview of everything the organisation really does.
        </p>
    </div>
</section>
<section data-class="bg bg-kavka3" class="slide-center case-mockup-desktop-iphone kavka" data-canvas='{
            "startStage" : {
            "name" : "Drawing"
            }
        }'>
    <div class="case-title">WEBSITE / DEVELOPMENT</div>
    <div class="client-title link"><a href="http://kavka.be" class="js-link" target="_blank">Kavka.be</a></div>
    <div class="mockup-container">
        <div class="mockup">
            <img data-src="assets/images/macbook-mockup.png" alt="" class="mockup-image">
            <div class="screen">
                <video width="902" height="564" data-autoplay playsinline muted loop>
                    <source data-src="assets/images/kavka/desktop-kavka.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="mockup-iphone">
            <img data-src="assets/images/iphone-mockup.png" alt="">
            <div class="screen">
                <video width="750" height="1334" data-autoplay playsinline muted loop>
                    <source data-src="assets/images/kavka/mobile-kavka-02.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>