<section data-class="bg" class="case wenneker">
    <div class="content-center">

        <div class="case-image">
            <img class="wenneker" data-src="assets/images/trophy.jpg">
        </div>
        <h1>Humo's Rock Rally Trophy</h1>

        <p>An interactive trophy for the winner of the public award of Humo's Rock Rally. Together with Maarten De Celaer and Superette.
            <br><br><a href="https://www.youtube.com/watch?v=ywShSLH3D14" target="_blank" class="js-link">Video</a>
        </p>
        <ul class="tags">
            <li>#concept</li>
            <li>#development</li>
        </ul>
    </div>
</section>