<section data-class="bg bg-lolology" class="slide-center case-image" data-canvas='{
            "startStage" : {
            "forceStart" : true,
            "name" : "PatternBackground",
            "image" : "lolology-lol-yellow",
            "scale" : 1
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">TRENDWOLVES</div>
    <div class="mockup">
        <img data-src="assets/images/macbook-mockup.png" alt="" class="mockup-image">

        <div class="screen">
            <img class="title-case" data-src="assets/images/lolology/lolology-cover.png" alt="">
        </div>
    </div>
</section>
