<section data-class="bg" class="case wenneker">
    <div class="content-center">

        <div class="case-image">
            <img class="wenneker" data-src="assets/images/shitty-cover.jpg">
        </div>
        <h1>Shitty Guide</h1>

        <p>The website for Shitty Guide
            <br><br><a href="http://shitty.guide/" target="_blank" class="js-link">shitty.guide</a>
        </p>
        <ul class="tags">
            <li>#concept</li>
            <li>#development</li>
        </ul>
    </div>
</section>