<section class="slide-center" data-class="bg none"
         data-background-iframe="http://www.theofficegroup.co.uk/">
    <div class="content-frame"> 
        <h1>The Office Group</h1> 
        <ul>
            <li>Professional look 'n feel</li>
            <li>Big bold typography</li>
            <li>Cool social section (<a href="http://www.theofficegroup.co.uk/social/" target="_blank" class="js-link">link</a>)</li>
        </ul> 
        <p>
            <a href="http://www.theofficegroup.co.uk/" target="_blank" class="js-link">theofficegroup.co.uk</a>
        </p>
    </div>
</section>