<section data-class="bg lolology" class="lolology case slide-center">
    <div class="content-center">
        <div class="js-random-gifs">
            <div class="js-random-gif first"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
            <div class="js-random-gif"></div>
        </div>
        <h1 class="line">Let's go loco</h1>
        <p>
            We went all out on this one and made a website loaded with weird gifs, alert boxes and cheesy backgrounds.
        </p>
    </div>
</section>