<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-making-of-stickers.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-sticker-01.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-print-08.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-print-03.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-print-05.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-bar-11.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-balls.jpg" alt="">
    </div>
</section>