<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP / CAMPAIGN</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/making-of-design.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP / CAMPAIGN</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/making-of-06.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP / CAMPAIGN</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-outside-06.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-open.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-bar.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-interior-06.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-bar-05.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-halfpipe.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-speeltijd.jpg" alt="">
    </div>
</section>