<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center">
        <div class="carousel carousel-kop">
            <div class="carousel-element first">
                <img data-src="assets/images/kop/fb/fb-bingo.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-grandslam.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-karaoke.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-kop.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-speeltijd.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-world-record.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/kop-fb-volkskeuken.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-glowinthedark.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-bord.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <video width="902" height="564" data-autoplay playsinline loop>
            <source data-src="assets/images/kop/events/klub-opening.mp4" type="video/mp4">
            <source data-src="assets/images/kop/events/klub-opening.webm" type="video/webm">
            <source data-src="assets/images/kop/events/klub-opening.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-volkskeuken.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-studio.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <video width="902" height="564" data-autoplay playsinline loop>
            <source data-src="assets/images/kop/events/world-record-day.mp4" type="video/mp4">
            <source data-src="assets/images/kop/events/world-record-day.webm" type="video/webm">
            <source data-src="assets/images/kop/events/world-record-day.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</section>