<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center content-large">
        <video width="902" height="564" data-autoplay playsinline loop>
            <source data-src="assets/images/kop/kop.mp4" type="video/mp4">
            <source data-src="assets/images/kop/kop.webm" type="video/webm">
            <source data-src="assets/images/kop/kop.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</section>