<section data-class="bg bg-kop" class="slide-center case case-front kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="content-center">
        <h1>King of Pong Social Klub</h1>
        <p>Internal project / Popup</p>
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <video width="902" height="564" data-autoplay playsinline loop>
            <source data-src="assets/images/kop/kop.mp4" type="video/mp4">
            <source data-src="assets/images/kop/kop.webm" type="video/webm">
            <source data-src="assets/images/kop/kop.ogv" type="video/ogg">
            Your browser does not support the video tag.
        </video>
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center">
        <h2 class="line green">A sideproject gone loco</h2>

        <p>For two months we opened our very own ping pong social klub with custom made tables in a former supermarket in Antwerp, Belgium.</p>
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>

    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-balls.jpg" alt="">
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-outside-06.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-open.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
   <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-interior-06.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-bar-05.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-halfpipe.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-speeltijd.jpg" alt="">
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final/kop-studio.jpg" alt="">
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
"startStage" : {
"name" : "Pong"
}
}'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center">
        <h2 class="line green">Two months packed with events</h2>
        <p>From Thursday till Saturday you could join mad ping pong tournaments, weekly volkskeukens, parties, a karaoke, a bingo night. You name it.</p>
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center">
        <div class="carousel carousel-kop">
            <div class="carousel-element first">
                <img data-src="assets/images/kop/fb/fb-bingo.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-grandslam.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-karaoke.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-kop.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-speeltijd.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-world-record.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/kop-fb-volkskeuken.jpg" alt="">
            </div>
            <div class="carousel-element">
                <img data-src="assets/images/kop/fb/fb-glowinthedark.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>

    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-bar-11.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
}'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center">
        <h2 class="line green">The green invasion</h2>
        <p>Our offline campaign featured smiley stickers, smiley cut-out posters, smiley balls and loyalty cards. Smileys everywhere!</p>
    </div>
</section>
<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-making-of-stickers.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-sticker-01.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>
    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-print-08.jpg" alt="">
    </div>
</section>

<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">Internal project / Popup</div>
    <div class="client-title link"><a href="http://kingofpong.org" class="js-link" target="_blank">kingofpong.org</a></div>

    <div class="content-center content-large">
        <img data-src="assets/images/kop/final-print/kop-print-05.jpg" alt="">
    </div>
</section>