<section data-class="bg bg-kop" class="slide-center case kop" data-canvas='{
            "startStage" : {
            "name" : "Pong"
            }
        }'>
    <div class="case-title">POPUP</div>
    <div class="client-title">Internal Project</div>
    <div class="content-center">
        <h2 class="line green">A sideproject gone loco</h2>

        <p>For two months we opened our very own ping pong social klub with custom made tables in a former supermarket in Antwerp, Belgium.</p>
    </div>
</section>