<section data-class="bg bg-borninantwerp" class="slide-center case-image case borninantwerp">
    <div class="content-center">
        <h1 class="line white">Not your ordinary app</h1>
        <p>
            <span class="underline">Born in Antwerp</span>, a project by De Stad Antwerpen, wants to support creativity in the city of Antwerp.
            Together with The Shtick we created a bot called Bo which tells you random bad jokes and tells you everything you need to know about the creative scene in Antwerp.
        </p>
    </div>
</section>