<section class="slide-center" data-class="bg none"
         data-background-iframe="http://silasveta.com/">
    <div class="content-frame"> 
        <h1>Silasveta</h1> 
        <ul>
            <li>Gradients ! ! !</li>
            <li>Smooth transitions between pages</li>
            <li>Hipster but still pro</li>
            <li>Cool newspage (<a href="http://silasveta.com/news" target="_blank">link</a>)</li>
        </ul>
         <p>
            <a href="http://silasveta.com/" target="_blank">silasveta.com</a>
        </p>
    </div>
</section>