<section data-class="bg bg-goose" class="slide-center case case-front goose"  data-event="strobo">
    <div class="content-center">
        <h1>Goose</h1>
        <span class="menu-title" style="display: none">Goose</span>
        <p>Aftermovie / Motion</p>
    </div>
</section>
<section data-class="bg bg-goose" class="slide-center case goose">
    <div class="case-title">Aftermovie / Motion</div>
    <div class="client-title">Goose</div>
    <div class="content-center">
        <video width="300" height="300" data-autoplay playsinline loop>
            <source data-src="assets/images/goose/website-undefined.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <h2 class="line white">Goose Music</h2>
        <p>
            The Belgian band <span class="underline">Goose</span> asked us to make various aftermovies of their concerts, in co-produciton with Cameltown,
            and do motion design for their social media.
        </p>
    </div>
</section>
<section data-class="bg bg-goose" class="slide-center case-image goose">
    <div class="case-title">Aftermovie / Motion</div>
    <div class="client-title">Goose</div>
    <div class="content-center content-large">
        <video width="1400" height="1064" data-autoplay playsinline loop>
            <source data-src="assets/images/goose/aftermovie-with-logos+john.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>

<section data-class="bg bg-goose" class="slide-center case-image goose">
    <div class="case-title">Aftermovie / Motion</div>
    <div class="client-title">Goose</div>
    <div class="content-center content-large">
        <video width="1400" height="1064" data-autoplay playsinline loop>
            <source data-src="assets/images/goose/Goose-ade-final-handbraked.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
</section>
