<section data-class="bg bg-borninantwerp" class="slide-center case case-front">
    <div class="content-center">
        <h2>Born In Antwerp</h2>
        <span class="menu-title" style="display: none">Born In Antwerp</span>

        <p>Stad Antwerpen / Shtick</p>
    </div>
</section>
<section data-class="bg bg-borninantwerp" class="slide-center case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Shtick</div>
    <div class="content-center">
        <img data-src="assets/images/born-in-antwerp/born-in-a.gif" alt="">
        <h2 class="line white">Born In Antwerp</h2>
        <p>
            <span class="underline">Born in Antwerp</span>, a project by De Stad Antwerpen, wants to support creativity
            in the city of Antwerp. <span class="underline">The Shtick</span>, an Antwerp design studio, asked us to join forces and develop the app.
        </p>
    </div>
</section>
<section data-class="bg bg-borninantwerp" class="slide-center case-image case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Shtick</div>
    <div class="content-center">
        <div class="mockup-iphone">
            <img data-src="assets/images/iphone-mockup.png" alt="">
            <div class="screen">
                <video width="750" height="1334" data-autoplay playsinline muted loop>
                    <source data-src="assets/images/born-in-antwerp/iphone-bobot-handbrake.mp4" type="video/mp4">
                    <source data-src="assets/images/born-in-antwerp/iphone-bobot.webm" type="video/webm">
                    <source data-src="assets/images/born-in-antwerp/iphone-bobot.ogv" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>
<section data-class="bg bg-borninantwerp" class="slide-center case-image case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Shtick</div>
    <div class="content-center">
        <h2 class="line white">Hello world</h2>
        <p>
            We created a bot called Bo which tells you random bad jokes and tells you everything you need to know about the creative scene in Antwerp. The Shtick did the design and we took the development for our part.
        </p>
    </div>
</section>
<section data-class="bg bg-borninantwerp" class="slide-center case borninantwerp">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Stad Antwerpen / Shtick</div>
    <div class="content-center">
        <img data-src="assets/images/party.gif" alt="">
        <h2 class="line white">Let's celebrate</h2>
        <p>The app even won a Golden MIXX Award in the category Best Mobile App.</p>
    </div>
</section>
