<section data-class="bg" class="slide-center case">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img data-src="assets/images/hrr/a-team.gif" alt="">
        <h2 class="line">Such teamwork</h2>
        <p>We crafted a hiding trophy which interacts with the winner's social media audience. Maarten De Ceulaer and Mark Florquin took the design for their part
            and we connected the wires together.
        </p>
    </div>
</section>