<section data-class="bg" class="slide-center case case-front">
    <div class="content-center">
        <h1>Humo's Rock Rally Trophy</h1>

        <p>Lenovo / Superette</p>
    </div>
</section>
<section data-class="bg" class="slide-center case">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img data-src="assets/images/award.gif" alt="">
        <h2 class="line">Humo's Rock Rally</h2>
        <p>Lenovo Belgium & Superette challenged us to create a good weird trophy for this year's winner of the public choice award at Humo's Rock Rally.
        </p>
    </div>
</section>
<section data-class="bg" class="slide-center case">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img data-src="assets/images/hrr/a-team.gif" alt="">
        <h2 class="line">Such teamwork</h2>
        <p>We crafted a hiding trophy which interacts with the winner's social media audience. Maarten De Ceulaer and Mark Florquin took the design for their part
            and we connected the wires together.
        </p>
    </div>
</section>
<section data-class="bg" class="slide-center case-image case">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img data-src="assets/images/hrr/making-of-3.jpg" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case-image case">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img data-src="assets/images/hrr/parts.jpg" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case">
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center content-large">
        <div class="video-container">
            <video data-autoplay playsinline>
                <source data-src="assets/images/hrr/lenovo-progressives-handbrake.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>
<section data-class="bg" class="slide-center case" data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-09.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-08.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-07.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-06.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-05.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-04.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-03.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-02.png" alt="">
    </div>
</section>
<section data-class="bg" class="slide-center case"  data-canvas='{
            "startStage" : {
            "name": "Like",
            "image": "assets/images/hrr/like-button.png",
            "scale" : 0.2
            }
        }'>
    <div class="case-title">CONCEPT / DEVELOPMENT</div>
    <div class="client-title">Lenovo Belgium / Superette</div>
    <div class="content-center">
        <img src="assets/images/hrr/like-01.png" alt="">
    </div>
</section>