<section data-class="bg" class="slide-center case-image case">
    <div class="content-center">
        <img src="assets/images/hrr/parts.jpg" alt="">
        <h1 class="line">The process</h1>
        <p>
            After weeks of brainstorming, designing, hacking we crafted a hiding trophy which interacts with the winner's social media audience. Maarten De Ceulaer and Mark Florquin took the design for their part.
            And we connected the wires together and made the trophy interact with the Facebook audience.
        </p>
    </div>
</section>