<section data-class="bg">
    <div class="content-center">
        <img data-src="assets/images/dollars.gif">

        <h1>What is it about to cost?</h1>

        <p>We made a rough estimate according to the briefing. This is an estimate for the development of the website
            (excl. design of brandbook etc.) <br><br>
            <a href="http://undefinedio.harvestapp.com/client/estimates/7f14505a62247913bf49318c3166b454084de5db"
               target="_blank">Ch-check it out!</a>
        </p>
    </div>
</section>