<section data-class="bg bg-taalhelden" class="slide-center case case-front" data-canvas='{
            "startStage" : {
            "name": "Clouds"
            }
        }'>
    <div class="content-center">
        <h2>Taalhelden</h2>

        <p>Trendwolves / Taalunie</p>
    </div>
</section>
<section data-class="bg bg-taalhelden" class="slide-center case" data-canvas='{
            "startStage" : {
            "name": "Clouds"
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Taalhelden / Trendwolves</div>
    <div class="content-center">
        <img data-src="assets/images/taalhelden/dirke.gif" alt="">
        <h2 class="line">Hotline game</h2>
        <p>
            Taalhelden, a cultural organisation who wants to make the Dutch language more popular to youngsters.
            Together with Sander Heremans we created a rap game where you have to help Rita Anna and Dirke to find the right words.
        </p>
    </div>
</section>
<section data-class="bg bg-taalhelden" class="slide-center case-image case" data-play-audio="taalunie01" data-canvas='{
            "startStage" : {
            "name": "Clouds"
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Taalhelden / Trendwolves</div>
    <div class="content-center">
        <div class="mockup-iphone">
            <img data-src="assets/images/iphone-mockup.png" alt="">
            <div class="screen">
                <video width="750" height="1334" data-autoplay playsinline muted loop>
                    <source data-src="assets/images/taalhelden/taalunie-3_1-handbrake.mp4" type="video/mp4">
                    <source data-src="assets/images/taalhelden/taalunie-3_1.webm" type="video/webm">
                    <source data-src="assets/images/taalhelden/taalunie-3_1.ogv" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>
<section data-class="bg bg-taalhelden" class="slide-center case-image case" data-play-audio="taalunie02" data-canvas='{
            "startStage" : {
            "name": "Clouds"
            }
        }'>
    <div class="case-title">CONCEPT / DESIGN / DEVELOPMENT</div>
    <div class="client-title">Taalhelden / Trendwolves</div>
    <div class="content-center">
        <div class="mockup-iphone">
            <img data-src="assets/images/iphone-mockup.png" alt="">
            <div class="screen">
                <video width="750" height="1334" data-autoplay playsinline muted loop>
                    <source data-src="assets/images/taalhelden/taalunie-3_2-handbrake.mp4" type="video/mp4">
                    <source data-src="assets/images/taalhelden/taalunie-3_2.webm" type="video/webm">
                    <source data-src="assets/images/taalhelden/taalunie-3_2.ogv" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</section>