<section data-class="bg bg-taalhelden" class="slide-center case" data-canvas='{
            "startStage" : {
            "name": "Clouds"
            }
        }'>
    <div class="content-center">
        <img data-src="assets/images/taalhelden/dirke.gif" alt="">
        <h1 class="line">Hotline game</h1>
        <p>
            Taalhelden, a cultural organisation who wants to make the Dutch language more popular to youngsters.
            Together with Sander Heremans we created a rap game where you have to help Rita Anna and Dirke to find the right words.
        </p>
    </div>
</section>