<section data-class="bg dark" class="online-offline slide-center case-image">
    <div class="content-center">
        <img data-src="assets/images/tattoos/tattoos-koray.jpg" alt="">
    </div>
</section>
<section data-class="bg dark" class="online-offline slide-center case-image">
    <div class="content-center">
        <img data-src="assets/images/tattoos/tattoos-benni.jpg" alt="">
    </div>
</section>
<section data-class="bg dark" class="online-offline case-image slide-center">
    <div class="content-center">
        <img data-src="assets/images/tattoos/tattoos-vincent.jpg" alt="">
    </div>
</section>